@import "tailwindcss";

body {
  /* Am lăsat doar stilurile de bază, fără background sau culoare.
     Acum, clasa 'bg-gray-100' din layout.tsx va seta fundalul. */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}